name: Android Release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Decode Keystore
      env:
        ENCODED_STRING: ${{ secrets.KEYSTORE_BASE64 }}
      run: |
        echo $ENCODED_STRING > keystore-b64.txt
        base64 -d keystore-b64.txt > app/release.jks

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Release AAB
      env:
        ANDROID_KEYSTORE_FILE: release.jks
        ANDROID_KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        ANDROID_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        ANDROID_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: ./gradlew :app:bundleRelease

    - name: Upload to Play Store
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
        packageName: com.watchmymoney
        releaseFiles: app/build/outputs/bundle/release/app-release.aab
        track: internal
        status: draft
